.forgot-password-container {
    height: 100%;
    background-color: #fefefe;
    padding: 2rem;
}
.forgot-password-container  h1{
    margin: 20px auto;
    text-align: center;
}
.forgot-password-container .forgot-password-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    box-shadow: 0px 0px 10px -3px rgb(133, 133, 133);
    max-width: 50%;
    padding: 2rem;
    justify-content: center;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.forgot-password-container .forgot-password-form-container form {
    text-align: center;
    width: 100%;
}

.forgot-password-container .form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #5B2EFF;
    max-width: 100%;
    outline: none !important;
    box-shadow: none;
}
.forgot-password-container button.btn.forgot-password-btn {
    background-color: #5B2EFF;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
}
.success-message {
    margin: 10px 0;
}
@media(max-width:1024px){
    .forgot-password-container .forgot-password-form-container {
        max-width: 100%;
    }
}