.forgot-password-container {
    height: 100%;
    background-color: #fefefe;
    padding: 2rem;
}
.forgot-password-container  h1{
    margin: 20px auto;
    text-align: center;
}
.forgot-password-container .forgot-password-form-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px auto;
    max-width: 50%;
    padding: 2rem;
    justify-content: flex-start;
}

.forgot-password-container .forgot-password-form-container form {
    text-align: left;
    width: 100%;
}

.forgot-password-container .form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    padding-left: 0;
    box-sizing: border-box;
    border: none;
    max-width: 100%;
    outline: none !important;
    box-shadow: none;
}
hr.seperating-line {
    color: #543d2d;
    margin-top: 0;
}
.forgot-password-container button.btn.forgot-password-btn {
    background-color: #5B2EFF;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
}
.success-message {
    margin: 10px 0;
}
@media(max-width:1024px){
    .forgot-password-container .forgot-password-form-container {
        max-width: 100%;
    }
}
@media(max-width:600px){
    .forgot-password-container {
        height: 100%;
        background-color: #fefefe;
        padding: 2rem 0;
    }
    .forgot-password-container  h1 {
        text-align: left;
        padding: 0 2rem;
        margin-bottom: 0;
    }
    .forgot-password-container .forgot-password-form-container {
        margin: 0;
    }
}
