.reset-password-container {
    height: 100vh;
  }
  
  .reset-password-container h1 {
    margin: 20px auto;
    text-align: center;
  }
  
  .reset-password-container .reset-password-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
  }
  
  .reset-password-container .reset-password-form-container form {
    text-align: center;
  }
  
  .reset-password-container .form-group input,
  .reset-password-container .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #5B2EFF;
    max-width: 100%;
    outline: none !important;
    box-shadow: none;
  }
  .form-control:focus{

  }
  .reset-password-container button.btn.reset-password-btn {
    background-color: #5B2EFF;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
  }
  
  .success-message {
    margin: 10px 0;
    color: green;
  }
  
  .error-message {
    margin: 10px 0;
    color: red;
  }
  
  .redirect-link {
    margin-top: 10px;
    text-align: center;
  }
  