.reset-password-container {
    height: 100%;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin: 3rem auto;
    padding: 0 40px;
    gap: 50px;
  }
  
  .reset-left {
    flex: 1;
    padding-right: 40px;
  }
  
  .reset-password-container h1 {
    margin: 20px auto;
    text-align: center;
  }
  
  .reset-password-form-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px auto;
    max-width: 100%;
    padding: 0 2rem;
    justify-content: flex-start;
  }
  
  .reset-password-form-container form {
    text-align: left;
    width: 100%;
  }
  
  .reset-password-container .form-group input,
  .reset-password-container .form-group select {
    width: 100%;
    padding: 8px;
    padding-left: 0;
    box-sizing: border-box;
    border: none;
    max-width: 100%;
    outline: none !important;
    box-shadow: none;
  }
  
  hr.seperating-line {
    color: #543d2d;
    margin-top: 0;
  }
  
  .reset-password-container button.btn.reset-password-btn {
    background-color: #5B2EFF;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
  }
  
  .success-message {
    margin: 10px 0;
    color: green;
  }
  
  .error-message {
    margin: 10px 0;
    color: red;
  }
  
  .redirect-link {
    margin-top: 10px;
    text-align: center;
  }
  
  /* Right Info Section */
  .reset-right {
    flex: 1;
    background: #e7d7cc;
    padding: 30px;
    border-radius: 4px;
    text-align: left;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .reset-right h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    padding-left: 12px;
  }
  
  .reset-right p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    max-width: 80%;
    padding-left: 12px;
  }
  
  .reset-right .explore-btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  .reset-right .explore-btn:hover {
    background: #333;
    color: #fff;
  }
  
  @media (max-width: 1024px) {
    .reset-password-container .reset-password-form-container {
      max-width: 100%;
    }
  }
  
  @media (max-width: 600px) {
    .reset-password-container {
      flex-direction: column;
      height: 100%;
      padding: 2rem 0;
      margin: 0;
    }
    .reset-left {
      padding: 0;
    }
    .reset-password-container h1 {
      text-align: left;
      padding: 0 2rem;
      margin-bottom: 0;
    }
    .reset-password-container .reset-password-form-container {
      margin: 0;
    }
  }
  