/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Lexend Deca", serif;
}
.Main-app {
    display: flex;
    height: 100%; /* Full viewport height */
    background-color: #F5F5F5;    
  }
  

  /* Content area styles */
  .Main-content.container {
    width: 100%;
    overflow: hidden;
    padding: 0 30px;
  }

  .secondary-navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .Main-app .Main-content.container:not(.livePreview) {
    padding: 0;
    margin: 0 10px;
    width: 100%;
    max-width: 100% !important;
}
.Main-app .Main-content.container:not(.livePreview) .camera-component.container.d-flex {
  width: 100%;
  max-width: 100%;
}
