/* Add these styles to ensure proper page layout */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .Main-app {
    background-color: #FFFFFF;
}
.Main-content.container-fluid .container {
  padding-left: 0;
  padding-right: 1rem;
}
.loader{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width:844px){
    .Main-app {
        display: block;
        height: 100%;
    }
}

