/* 🔹 Parent Container */
.signup-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  gap: 50px;
  height: 90vh;
}

.error-message {
  margin: 10px 0;
}
.signup-form  input.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  background: transparent !important;
}
/* 🔹 Left Form Section */
.signup-left {
  flex: 1;
  padding-right: 40px;
}
.signup-form  input.form-control:focus {
  outline: none !important;
}

/* 🔹 Form Fields */
.signup-form .form-group input::placeholder{
  font-style: normal;
}
.signup-form label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  background: transparent;
  outline: none;
  transition: all 0.3s;
}
hr.seperating-line {
  color: #543d2d;
  margin-top: 0;
}

/* 🔹 Right Info Section */
.signup-right {
  flex: 1;
  background: #e7d7cc;
  padding: 30px;
  border-radius: 4px;
  text-align: left;
}
.signup-right {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.signup-right h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  padding-left: 12px;
}

.signup-right p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px; 
  max-width: 80%;
  padding-left: 12px;
}

.explore-btn {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.explore-btn:hover {
  background: #333;
}
button.btn.signup-btn {
  background-color: #543d2d;
  color: #FFFFFF;
  max-width: fit-content;
  border-radius: 4px;
}
p.redirect-link {
  margin: 0;
  margin-top: 20px;
  color: #543d2d;
}
p.redirect-link a{
  text-decoration: none;
  color: #543d2d;
}
button.btn.explore-btn{
  border-radius: 4px;
}
button.btn.explore-btn:hover{
  background-color: #543d2d;
  color: #FFFFFF;
}
/* 🔹 Responsive */
@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
    padding: 50px 0;
    height: 100%;
}

  .signup-left {
    padding-right: 0;
    width: 80%;
  }

}
